.header
  padding-inline: 10%
  height: 80px

  display: flex
  align-items: center
  justify-content: space-between

  background-color: $blue
  position: relative


  &__logo
    display: flex
    align-items: center

    &_img
      width: 80px
      aspect-ratio: 1

    &_title
      color: $secondary
      font-weight: 600



  &__nav
    height: 100%
    @media screen and (max-width: 992px)
      display: none

    &_menu
      display: flex
      align-items: center
      justify-content: center
      height: 100%
      margin: 0
      padding: 0

      &_items
        height: 100%
        position: relative
        width: 150px
        z-index: 4

        &_link
          text-transform: uppercase
          height: 100%
          font-size: 1rem
          color: $white
          font-weight: 500
          display: flex
          align-items: center
          justify-content: center
          z-index: 3
          &:hover
            &::before
              transform: translateY(0%)
            &::after
              width: 100%
              opacity: 100%
          &::before
            content: ''
            top: 0
            position: absolute
            display: block
            transform: translateY(-100%)
            height: 100%
            z-index: -1
            width: 100%
            background-color: #243742
            transition: transform 0.7s ease-in-out
          &::after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            height: 2px
            width: 0
            opacity: 0
            background-color: white
            transition: width 0.7s ease-in-out
            transition-delay: 0.7s

  &__controls
    display: flex
    align-items: center
    gap: 1rem

    &_detail
      display: flex
      flex-direction: column

      &_summary
        color: $secondary
        text-transform: uppercase
        cursor: pointer
        list-style-type: none
        display: flex
        align-items: start

        &_icon
          color: $secondary
          padding-left: 0.5rem

      &_bloc
        display: flex
        flex-direction: column
        gap: 2rem
        padding: 1rem
        position: absolute
        z-index: 100
        top: 100%
        width: 15%
        background-color: $blue
        border-bottom: 4px solid $secondary

        @media screen and (max-width: 992px)
          width: 20%

        &_link
          color: $secondary

          &_icon
            margin-right: 0.5rem

