.calendar
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  margin-block: 2rem


#conteneur_calendrier
  width: 420px
  background-color: $blue

#calendar
  width: 100%
  border-collapse: collapse
  background-color: transparent
  padding: 0
  text-align: center

#calendar th
  padding: 0.3em
  font-weight: normal
  height: 60px
  aspect-ratio: 1


#calendar td
  margin: 0
  padding: 0
  width: 60px
  height: 60px
  border-radius: 50%


#calendar td a
  display: block
  text-decoration: none
  color: $white
  border-radius: 50%
  height: inherit
  line-height: 60px
  width: 60px
  aspect-ratio: 1


#calendar td a:hover
  background-color: #dfdcdc !important
  color: black


#calendar td a span
  display: block
  font-weight: bold

.sam
  color: $white
.dim
  color: $white
.aut
  color: $white


.ajd
  background-color: rgba(237, 189, 70,1)



.ajd a
  color: #fff !important
  font-weight: bold


#calendrier
  width: 100%
  margin: 0
  text-align: center
  display: flex
  flex-wrap: wrap
  font-size: 0.9em

#calendrier select
  width: 50%
  background-color: $blue
  text-align: center
  border: 1px solid $white
  outline: none
  color: $white
  margin: 0
  padding: 8px 0
  text-transform: uppercase


#legende_cal li
  margin: 5px 0
  display: inline-block
  margin-right: 10px


#legende_cal li:nth-child(1) span
  display: inline-block
  width: 30px
  height: 25px
  margin-right: 5px

#legende_cal li:nth-child(2) span
  display: inline-block
  width: 30px
  height: 25px
  margin-right: 10px


#legende_cal li:nth-child(3) span
  display: inline-block
  width: 30px
  height: 25px
  margin-right: 10px

.schedule
  width: 420px
  height: 395px
  background-color: $blue
  padding: 2rem
  display: flex
  flex-direction: column
  gap: .5rem
  &__title
    align-self: center
    font-size: 1.5rem
    font-weight: 900
    color: $white
    margin-bottom: 1rem
  &__buttons
    padding: .5rem 1rem
    width: 50%
    background-color: $primary
    color: $white
    text-align: center
    border-radius: 5px

.available
  background-color: $primary
  border-radius: 10px
  padding: 1rem
  text-align: center
  width: 100%
  text-decoration: none
  color: $white
  font-weight: 700
.reserved
  background-color: #c8c8c8
  border-radius: 10px
  padding: 1rem
  text-align: center
  width: 100%
  text-decoration: none
  color: $primary
  font-weight: 700
  cursor: not-allowed