html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol,
menu {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
picture,
svg,
video {
  height: auto;
  max-width: 100%;
  display: block;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
}

.body {
  color: #f5f5f5;
  display: grid;
  grid-template-columns: 60px 1fr;
}
.body__title {
  width: 100%;
  justify-self: center;
  background-color: #2F4858;
  padding-block: 2rem;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  grid-column: 1/5;
  color: #f5f5f5;
  font-weight: 700;
  position: relative;
}
.body__link {
  position: absolute;
  right: 2%;
  top: 4.5%;
  color: #f5f5f5;
}
.body__link_icon {
  font-size: 2rem;
}

.content {
  padding: 2%;
  background-color: #26261F;
}
.content__details {
  background-color: #26261F;
  border-radius: 0.625rem;
  margin-bottom: 0.125rem;
}
.content__details_summary {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #f5f5f5;
}
.content__details_summary_items_img {
  width: 60px;
  aspect-ratio: 1;
  object-fit: cover;
}
.content__details_summary_actions {
  display: flex;
  gap: 0.5rem;
}
.content__details_summary_actions_link {
  color: #FFE13F;
}

.aside {
  width: 100%;
  background-color: #2F4858;
  height: 100vh;
  grid-column: 1;
  display: flex;
  justify-content: center;
}
.aside_navbar_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0;
}
.aside_navbar_menu_list_link {
  color: #f5f5f5;
  font-size: 2rem;
}

.aside_navbar_menu_list_link_icons {
  font-size: 1.5rem;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.dashboard__link {
  color: #f5f5f5;
}
.dashboard__link_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2F4858;
  width: 100%;
  border-radius: 10px;
  padding-block: 3rem;
  overflow: hidden;
}
.dashboard__link_card::after {
  content: "";
  position: absolute;
  background-color: #1c2e36;
  width: 120%;
  height: 60px;
  bottom: -30px;
  transform: rotate(5deg);
}
.dashboard__link_card_title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.dashboard__link_card_paragraph {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.dashboard__link_card_icons {
  font-size: 4rem;
  margin-block: 1rem;
  color: #FFE13F;
}

.success {
  background-color: forestgreen;
  color: #f5f5f5;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  font-weight: 700;
}
.success_icon {
  margin-right: 0.5rem;
}

.warning {
  background-color: darkred;
  color: #f5f5f5;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  font-weight: 700;
}
.warning_icon {
  margin-right: 0.5rem;
}

.confirm {
  background-color: #F67451;
  color: #f5f5f5;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.confirm__paragraph {
  margin-bottom: 1rem;
  font-weight: 700;
}
.confirm__paragraph_link {
  color: white;
  padding: 0.5rem 1rem;
  background-color: #26261F;
  margin-right: 1rem;
  border-radius: 30px;
}
.confirm__paragraph_link:nth-of-type(1) .confirm__paragraph_link_icons {
  margin-left: 0.5rem;
  color: green;
}
.confirm__paragraph_link:nth-of-type(2) .confirm__paragraph_link_icons {
  margin-left: 0.5rem;
  color: red;
}

.pages__form {
  display: flex;
  flex-direction: column;
  padding: 2% 25%;
  width: 100%;
  background-color: #2F4858;
}
.pages__form_input {
  padding: 0.4rem;
  margin: 0.2rem 0 0.5rem 0;
  background-color: #26261F;
  color: #f5f5f5;
  border: 1px solid #FFE13F;
  border-radius: 0.625rem;
  outline: none;
}
.pages__form_input::placeholder {
  color: #FFE13F;
}
.pages__form_label {
  font-size: 1.3rem;
  color: #f5f5f5;
}
.pages__form_textarea {
  padding: 0.4rem;
  margin: 0.2rem 0 0.5rem 0;
  background-color: #26261F;
  color: #f5f5f5;
  border: 1px solid #FFE13F;
  border-radius: 0.625rem;
  outline: none;
  min-width: 6.25rem;
  min-height: 6.25rem;
  max-width: 45rem;
  max-height: 45rem;
}
.pages__form_btn {
  padding: 0.5rem;
  align-self: center;
  width: 30%;
  margin-top: 1rem;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  color: #26261F;
  cursor: pointer;
  background-color: #FFE13F;
}

.articles_form {
  display: flex;
  flex-direction: column;
  padding: 2% 25%;
  width: 100%;
  background-color: #2F4858;
}
.articles_form_input {
  padding: 0.4rem;
  margin: 0.2rem 0 0.5rem 0;
  background-color: #26261F;
  color: #f5f5f5;
  border: 1px solid #FFE13F;
  border-radius: 0.625rem;
  outline: none;
}
.articles_form_input::placeholder {
  color: #FFE13F;
}
.articles_form_textarea {
  padding: 0.4rem;
  margin: 0.2rem 0 0.5rem 0;
  background-color: #26261F;
  color: #f5f5f5;
  border: 1px solid #FFE13F;
  border-radius: 0.625rem;
  outline: none;
  min-width: 6.25rem;
  min-height: 6.25rem;
  max-width: 45rem;
  max-height: 45rem;
}
.articles_form_textarea::placeholder {
  color: #FFE13F;
}
.articles_form_label {
  font-size: 1.3rem;
  color: #f5f5f5;
}
.articles_form_select {
  padding: 0.4rem;
  margin: 0.2rem 0 0.5rem 0;
  background-color: #26261F;
  color: #f5f5f5;
  border: 1px solid #FFE13F;
  border-radius: 0.625rem;
  outline: none;
}
.articles_form_div_input {
  margin-top: 10px;
  margin-right: 10px;
}
.articles_form_btn {
  padding: 0.5rem;
  align-self: center;
  width: 30%;
  margin-top: 1rem;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  color: #26261F;
  cursor: pointer;
  background-color: #FFE13F;
}

.users_form {
  display: flex;
  flex-direction: column;
  padding: 2% 25%;
  width: 100%;
  background-color: #2F4858;
}
.users_form_label {
  margin-bottom: 5px;
}
.users_form_div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}
.users_form_div_bloc {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.users_form_div_bloc_input {
  width: 100%;
}
.users_form__input {
  padding: 0.4rem;
  margin: 0.2rem 0 0.5rem 0;
  background-color: #26261F;
  color: #FFE13F;
  border: 1px solid #FFE13F;
  border-radius: 0.625rem;
  outline: none;
}
.users_form__input::placeholder {
  color: #FFE13F;
}
.users_form_btn {
  padding: 0.5rem;
  align-self: center;
  width: 30%;
  margin-top: 1rem;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  color: #26261F;
  cursor: pointer;
  background-color: #FFE13F;
}

.users_form__searchInput {
  padding: 0.4rem;
  margin: 0.2rem 0 0.5rem 0;
  background-color: #26261F;
  color: #FFE13F;
  border: 1px solid #FFE13F;
  border-radius: 0.625rem;
  outline: none;
  width: 20%;
}
.users_form__searchInput::placeholder {
  color: #FFE13F;
}

.searchButton {
  padding: 0.5rem;
  align-self: center;
  width: 10%;
  margin-top: 1rem;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  color: #26261F;
  cursor: pointer;
  background-color: #FFE13F;
}

.presentation__form {
  display: flex;
  flex-direction: column;
  padding: 2% 25%;
  width: 100%;
  background-color: #2F4858;
}
.presentation__form_input {
  padding: 0.4rem;
  margin: 0.2rem 0 0.5rem 0;
  background-color: #26261F;
  color: #f5f5f5;
  border: 1px solid #FFE13F;
  border-radius: 0.625rem;
  outline: none;
}
.presentation__form_input::placeholder {
  color: #FFE13F;
}
.presentation__form_textarea {
  padding: 0.4rem;
  margin: 0.2rem 0 0.5rem 0;
  background-color: #26261F;
  color: #f5f5f5;
  border: 1px solid #FFE13F;
  border-radius: 0.625rem;
  outline: none;
  min-width: 6.25rem;
  min-height: 6.25rem;
  max-width: 45rem;
  max-height: 45rem;
}
.presentation__form_textarea::placeholder {
  color: #FFE13F;
}
.presentation__form_label {
  font-size: 1.3rem;
  color: #f5f5f5;
}
.presentation__form_select {
  padding: 0.4rem;
  margin: 0.2rem 0 0.5rem 0;
  background-color: #26261F;
  color: #FFE13F;
  border: 1px solid #FFE13F;
  border-radius: 0.625rem;
  outline: none;
}
.presentation__form_select_option {
  background-color: #26261F;
  color: #FFE13F;
  padding: 0.5rem;
}
.presentation__form_btn {
  padding: 0.5rem;
  align-self: center;
  width: 30%;
  margin-top: 1rem;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  color: #26261F;
  cursor: pointer;
  background-color: #FFE13F;
}

.inscription_body {
  position: relative;
}
.inscription_body_container {
  width: 40%;
  left: 10%;
  top: 20%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.inscription_body_container_img:nth-of-type(1) {
  align-self: flex-end;
  width: 400px;
  object-fit: cover;
}
.inscription_body_container_img:nth-of-type(2) {
  margin-top: -20%;
  margin-left: 10%;
  width: 300px;
  object-fit: cover;
}
.inscription_body_container_img:nth-of-type(3) {
  margin-top: -30%;
  margin-left: 30%;
  width: 400px;
  object-fit: cover;
}
.inscription_body_container_img:nth-of-type(4) {
  margin-top: -20%;
  margin-left: 40%;
  width: 300px;
  object-fit: cover;
}

.header__inscription {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #f5f5f5;
}
.header__inscription_logo_img {
  width: 200px;
  object-fit: cover;
}

.connexion {
  padding-block: 5rem;
  padding-left: 55%;
  color: #f5f5f5;
  line-height: 2rem;
}
.connexion__title {
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.connexion__paragraph_link {
  color: #FFE13F;
  text-decoration: underline;
}

.inscription {
  padding: 2rem 10% 2rem 55%;
  margin-bottom: 25rem;
}
.inscription__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f5f5f5;
  padding-bottom: 1rem;
}
.inscription__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inscription__form_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f5f5f5;
  padding-bottom: 1rem;
}
.inscription__form_paragraph {
  color: #f5f5f5;
}
.inscription__form_item {
  display: flex;
  gap: 2rem;
}
.inscription__form_item_label {
  display: none;
}
.inscription__form_item_input {
  width: 100%;
  padding: 0.8rem;
  background-color: transparent;
  border: 1px solid #FFE13F;
  border-radius: 10px;
  color: #FFE13F;
  outline: none;
}
.inscription__form_item_input::placeholder {
  color: #FFE13F;
}
.inscription__form_required {
  color: #f5f5f5;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 2rem;
}
.inscription__form_label {
  display: none;
}
.inscription__form_input {
  width: 100%;
  padding: 0.8rem;
  background-color: transparent;
  border: 1px solid #FFE13F;
  border-radius: 10px;
  color: #FFE13F;
  outline: none;
}
.inscription__form_input::placeholder {
  color: #FFE13F;
}
.inscription__form_cta {
  padding: 0.8rem;
  background-color: #FFE13F;
  color: #26261F;
  border-color: transparent;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.login_body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  padding-top: 5rem;
  height: 100vh;
  align-items: center;
}

.login_body main {
  padding-block: 2rem;
  padding-inline: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
}

.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login__title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #f5f5f5;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 3rem;
}
.login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login__form_label {
  display: none;
}
.login__form_input {
  margin-inline: 10%;
  background-color: transparent;
  border: 1px solid #FFE13F;
  border-radius: 10px;
  padding: 0.5rem;
  outline: none;
  color: #FFE13F;
}
.login__form_input::placeholder {
  color: #FFE13F;
}
.login__form_reset {
  text-align: center;
  color: #FFE13F;
  text-decoration: underline;
  padding-bottom: 2rem;
}
.login__form_cta {
  margin-inline: 10%;
  border: transparent;
  background-color: #FFE13F;
  color: #26261F;
  padding: 0.5rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.signup {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.signup__title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #f5f5f5;
  text-transform: uppercase;
  text-align: center;
  padding-block: 3rem;
}
.signup__cta {
  margin-inline: 10%;
  border: transparent;
  background-color: #FFE13F;
  color: #26261F;
  padding: 0.5rem;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
  justify-self: flex-end;
}

.google {
  grid-column: 1/3;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.google::after {
  content: "";
  position: absolute;
  top: 25%;
  z-index: -1;
  width: 100%;
  height: 3px;
  background-color: #f5f5f5;
}
.google__title {
  text-decoration: none;
  color: #f5f5f5;
  background-color: #26261F;
  padding: 0.5rem 2rem;
}
.google__icon {
  font-size: 1.5rem;
  color: #f5f5f5;
  cursor: pointer;
}

.header {
  padding-inline: 10%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2F4858;
  position: relative;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo_img {
  width: 80px;
  aspect-ratio: 1;
}
.header__logo_title {
  color: #FFE13F;
  font-weight: 600;
}
.header__nav {
  height: 100%;
}
@media screen and (max-width: 992px) {
  .header__nav {
    display: none;
  }
}
.header__nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
.header__nav_menu_items {
  height: 100%;
  position: relative;
  width: 150px;
  z-index: 4;
}
.header__nav_menu_items_link {
  text-transform: uppercase;
  height: 100%;
  font-size: 1rem;
  color: #f5f5f5;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.header__nav_menu_items_link:hover::before {
  transform: translateY(0%);
}
.header__nav_menu_items_link:hover::after {
  width: 100%;
  opacity: 100%;
}
.header__nav_menu_items_link::before {
  content: "";
  top: 0;
  position: absolute;
  display: block;
  transform: translateY(-100%);
  height: 100%;
  z-index: -1;
  width: 100%;
  background-color: #243742;
  transition: transform 0.7s ease-in-out;
}
.header__nav_menu_items_link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  opacity: 0;
  background-color: white;
  transition: width 0.7s ease-in-out;
  transition-delay: 0.7s;
}
.header__controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__controls_detail {
  display: flex;
  flex-direction: column;
}
.header__controls_detail_summary {
  color: #FFE13F;
  text-transform: uppercase;
  cursor: pointer;
  list-style-type: none;
  display: flex;
  align-items: start;
}
.header__controls_detail_summary_icon {
  color: #FFE13F;
  padding-left: 0.5rem;
}
.header__controls_detail_bloc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  position: absolute;
  z-index: 100;
  top: 100%;
  width: 15%;
  background-color: #2F4858;
  border-bottom: 4px solid #FFE13F;
}
@media screen and (max-width: 992px) {
  .header__controls_detail_bloc {
    width: 20%;
  }
}
.header__controls_detail_bloc_link {
  color: #FFE13F;
}
.header__controls_detail_bloc_link_icon {
  margin-right: 0.5rem;
}

.hero_section {
  height: calc(100vh - 80px);
}

.hero_section img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 39.9375em) {
  .hero_section img {
    border-bottom: 1px solid red;
  }
}

.about {
  padding: 8rem 12.5rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.about__container {
  width: 50%;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
}
.about__container_title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 3rem;
}
.about__container_title_span {
  color: #FFE13F;
}
.about__container_paragraph {
  padding-bottom: 5rem;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
}
.about__container_cta {
  align-self: center;
  padding: 0.7rem 2rem;
  text-transform: uppercase;
  border-radius: 0.9rem;
  background-color: #FFE13F;
  border-color: transparent;
}

.prestation {
  position: relative;
  margin-bottom: 2rem;
}
.prestation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  height: 0.25rem;
  background-color: #FFE13F;
  border-top-right-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
}
.prestation__title {
  text-align: center;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 2rem;
  font-weight: 600;
}
.prestation__title_span {
  color: #FFE13F;
}
.prestation__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 5rem 12.5rem;
}
.prestation__container_card {
  background-color: #2F4858;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f5f5f5;
}
.prestation__container_card_img {
  margin-bottom: 2rem;
}
.prestation__container_card_cta {
  align-self: center;
  height: 1.875rem;
  width: 60%;
  background-color: #FFE13F;
  border: transparent;
  border-radius: 30px;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding-block: 0.5rem;
  cursor: pointer;
}
.prestation__container_card_title {
  padding: 1rem 2rem;
  color: #f5f5f5;
  position: relative;
}
.prestation__container_card_title::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #f5f5f5;
  top: 0;
}
.prestation__container_card_title_span {
  color: #FFE13F;
}
.prestation__container_card_paragraph:first-of-type {
  padding-inline: 2rem;
  text-align: justify;
  height: 100%;
  font-size: 0.9rem;
}
.prestation__container_card_paragraph:last-of-type {
  text-align: center;
  padding: 1rem 3rem;
  font-size: 0.8rem;
}
.prestation__paragraph {
  margin-inline: 35%;
  text-align: center;
  color: #f5f5f5;
  padding-block-end: 4rem;
}

.testimonials {
  position: relative;
  display: grid;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}
.testimonials::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 0.25rem;
  background-color: #FFE13F;
  border-top-left-radius: 1.875rem;
  border-bottom-left-radius: 1.875rem;
}
.testimonials__comment {
  padding-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: 600;
}
.testimonials__title {
  padding-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFE13F;
  font-size: 2rem;
  font-weight: 600;
}
.testimonials__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5rem;
  padding: 5rem 12.5rem;
}
.testimonials__cards_card {
  background-color: #2F4858;
  padding: 2rem;
  border-radius: 10px;
}
.testimonials__cards_card_header {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  gap: 0.5rem;
  position: relative;
}
.testimonials__cards_card_header_title {
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 1.4rem;
  font-weight: 600;
}
.testimonials__cards_card_header_stars {
  position: absolute;
  top: 25%;
  right: 0;
  color: #FFE13F;
}
.testimonials__cards_card_paragraph {
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
  color: #f5f5f5;
}
.testimonials__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  justify-self: center;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  border-radius: 1.875rem;
  background-color: #2F4858;
  border-color: transparent;
  color: #f5f5f5;
  cursor: pointer;
}
.testimonials__cta_icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.reseau__title {
  text-align: center;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 2rem;
  font-weight: 600;
}
.reseau__title_span {
  color: #FFE13F;
}
.reseau__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 5rem 12.5rem;
}
.reseau__container_items_img {
  width: 100%;
  object-fit: contain;
  max-height: 700px;
}
.reseau__container_items:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  padding-inline: 10%;
}
.reseau__container_items_paragraph {
  line-height: 2.6rem;
  font-size: 2rem;
  color: #f5f5f5;
  text-transform: uppercase;
}
.reseau__container_items_paragraph:nth-of-type(2) {
  margin-bottom: 2rem;
}
.reseau__container_items_social {
  display: flex;
  align-self: center;
  padding-block: 2rem;
  width: 50%;
  justify-content: space-between;
}
.reseau__container_items_social_icon {
  font-size: 2.4rem;
  color: #FFE13F;
}
.reseau__container_items_newsletter_input {
  padding: 0.5rem 1rem;
  width: 60%;
  background-color: transparent;
  border: 1px solid #FFE13F;
  color: #f5f5f5;
  border-radius: 0.5rem;
}
.reseau__container_items_newsletter_cta {
  background-color: #FFE13F;
  padding: 0.5rem 1rem;
  border-color: transparent;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.contact_body {
  background-image: url("../img/contact_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}
.contact_body_container {
  background-color: #2F4858;
  padding-inline: 4rem;
  border-radius: 10px;
  width: 40%;
}
.contact_body_container_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.contact_body_container_form_button {
  padding: 0.4rem 2rem;
  border-radius: 10px;
  border: 1px solid #FFE13F;
  margin-bottom: 3rem;
  background-color: #FFE13F;
  outline: none;
}
.contact_body_container_form_title {
  color: #f5f5f5;
  font-weight: 700;
  padding-block: 2rem;
  font-size: 1.6rem;
}
.contact_body_container_form_input {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #FFE13F;
  color: #FFE13F;
}
.contact_body_container_form_input::placeholder {
  color: #FFE13F;
}
.contact_body_container_form_label {
  display: none;
}
.contact_body_container_form_textarea {
  width: 100%;
  height: 15rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #FFE13F;
  margin-bottom: 1rem;
  color: #FFE13F;
}
.contact_body_container_form_textarea::placeholder {
  color: #FFE13F;
}
.contact_body_container_form_bloc {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.contact_body_container_form_bloc_input {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #FFE13F;
  color: #FFE13F;
}
.contact_body_container_form_bloc_input::placeholder {
  color: #FFE13F;
}
.contact_body_container_form_bloc_label {
  display: none;
}

.footer {
  background-color: #2F4858;
  display: grid;
}
.footer__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 12.5rem;
}
.footer__box_nav_menu {
  display: flex;
  align-items: center;
}
.footer__box_nav_menu_items_cta {
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: #f5f5f5;
  font-weight: 500;
}
.footer__box .footer__box_social {
  display: flex;
  align-self: center;
  padding-block: 2rem;
  width: 50%;
  justify-content: center;
  gap: 2.5rem;
}
.footer__box .footer__box_social_icon {
  font-size: 2rem;
  color: #FFE13F;
}
.footer__mention {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  width: auto;
  justify-self: center;
  padding-bottom: 2rem;
  text-transform: uppercase;
  color: #f5f5f5;
  cursor: pointer;
}

.inscription_body {
  position: relative;
}

.header__inscription {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #f5f5f5;
}
.header__inscription_logo_img {
  width: 200px;
  object-fit: cover;
}

.questionnaire {
  padding-block: 5rem;
  padding-left: 45%;
  background-color: #2F4858;
  color: #f5f5f5;
  line-height: 2rem;
  border-bottom: 3px solid #f5f5f5;
}
.questionnaire__title {
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.info {
  display: flex;
  justify-content: center;
  padding-top: 4%;
}
.info__form {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
.info__form_label {
  display: none;
}
.info__form_item {
  display: flex;
  gap: 2rem;
}
.info__form_input {
  width: 100%;
  padding: 0.8rem 8rem 0.8rem 1.2rem;
  background-color: transparent;
  border: 1px solid #FFE13F;
  border-radius: 10px;
  color: #FFE13F;
  outline: none;
}
.info__form_input::placeholder {
  color: #FFE13F;
}

.sante__title {
  display: flex;
  justify-content: center;
  padding-top: 4%;
  font-size: 1.8rem;
  color: #f5f5f5;
}
.sante__oui {
  text-align: center;
  padding-top: 4%;
  padding-inline: 20%;
  display: grid;
  grid-template-columns: 2% 80% 9% 9%;
  gap: 1rem;
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.sante__text {
  padding-inline: 20%;
}
.sante__text_global {
  display: grid;
  grid-template-columns: 2% 80% 9% 9%;
  gap: 1rem;
  padding-block: 0.5rem;
  color: #FFE13F;
  align-items: center;
}
.sante__text_global_input {
  border: 1px solid #FFE13F;
  background-color: initial;
  width: 20px;
  margin: 0 auto;
}
.sante__button {
  display: flex;
  justify-content: center;
  padding-block: 5%;
}
.sante__button_text {
  text-decoration: none;
  color: #26261F;
  padding: 10px 30px;
  background-color: #FFE13F;
  border-radius: 10px;
}
.sante__button a:hover {
  color: #FFE13F;
  background-color: initial;
  border: 1px solid #FFE13F;
}

.presentation_page__title {
  margin-top: 6rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #f5f5f5;
  text-transform: uppercase;
}
.presentation_page__title_span {
  color: #FFE13F;
}
.presentation_page__card {
  display: flex;
  justify-content: space-between;
  margin: 7rem 15%;
  background-color: #2F4858;
  border-radius: 20px;
  overflow: hidden;
}
.presentation_page__card_img {
  border-radius: 20px;
  width: 30%;
  aspect-ratio: 1;
  object-fit: cover;
}
.presentation_page__card_content {
  padding: 5rem 3rem 5rem 4rem;
  width: 70%;
}
.presentation_page__card_content_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f5f5f5;
  margin-bottom: 1rem;
  position: relative;
}
.presentation_page__card_content_title::after {
  content: "";
  display: block;
  width: 4rem;
  height: 3px;
  background-color: #FFE13F;
  margin-block: 1rem;
}
.presentation_page__card_content_paragraph {
  color: #f5f5f5;
  text-align: justify;
}

.contact_body {
  background-image: url("../img/contact_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}
.contact_body_container {
  background-color: #2F4858;
  padding-inline: 4rem;
  border-radius: 10px;
  width: 40%;
}
.contact_body_container_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.contact_body_container_form_button {
  padding: 0.4rem 2rem;
  border-radius: 10px;
  border: 1px solid #FFE13F;
  margin-bottom: 3rem;
  background-color: #FFE13F;
  outline: none;
}
.contact_body_container_form_title {
  color: #f5f5f5;
  font-weight: 700;
  padding-block: 2rem;
  font-size: 1.6rem;
}
.contact_body_container_form_input {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #FFE13F;
  color: #FFE13F;
}
.contact_body_container_form_input::placeholder {
  color: #FFE13F;
}
.contact_body_container_form_label {
  display: none;
}
.contact_body_container_form_textarea {
  width: 100%;
  height: 15rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #FFE13F;
  margin-bottom: 1rem;
  color: #FFE13F;
}
.contact_body_container_form_textarea::placeholder {
  color: #FFE13F;
}
.contact_body_container_form_bloc {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.contact_body_container_form_bloc_input {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #FFE13F;
  color: #FFE13F;
}
.contact_body_container_form_bloc_input::placeholder {
  color: #FFE13F;
}
.contact_body_container_form_bloc_label {
  display: none;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #26261F;
}

/*# sourceMappingURL=styles.css.map */
